<!DOCTYPE html>
<html lang="en" ng-app='reddit'>

<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>

  <!-- Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

  <!-- BootStrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <!-- App JS -->
  <script type="text/javascript" src='app.js'></script>

  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Site CSS -->
  <link rel="stylesheet" href="style.css">

</head>

<body ng-controller="newPostController as np">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="navbar-brand">Reddit Clone</li>
        <li><a href="#" ng-init="np.addPost = false" ng-click="np.addPost = !np.addPost"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit Post</a></li>
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by {{np.prop | capitolize}}</a>
          <ul class="dropdown-menu">
            <li><a href="#" ng-init="np.prop='score'" ng-click="np.prop='score'">Sort by Score</a></li>
            <li><a href="#" ng-click="np.prop='date'">Sort by Date</a></li>
            <li><a href="#" ng-click="np.prop='title'">Sort by Title</a></li>
          </ul>
        </li>
        <li>
          <a href="#" ng-click="np.reverse = !np.reverse">
            <span ng-if="np.reverse" class="glyphicon glyphicon-chevron-up" ></span>
            <span ng-if="!np.reverse" class="glyphicon glyphicon-chevron-down" ></span>
          </a>
        </li>
      </ul>
    </div>
  </nav> <!-- end navbar -->

  <div ng-show="np.addPost"> <!-- New Post -->
    <div class="container">
      <form ng-submit="np.newPost()">
        <!-- TODO add form validation-->
        <div class="form-group">
          <label for="title">Title: </label>
          <input ng-model="np.title" class="form-control" type="text" name="title" id="title" >
        </div>
        <div class="form-group">
          <label for="author">Author: </label>
          <input ng-model="np.author" class="form-control" type="text" name="author" id="author" >
        </div>
        <div class="form-group">
          <label for="img">Image URL: </label>
          <input ng-model="np.img" class="form-control" type="text" name="img" id="img" >
        </div>
        <div class="form-group">
          <label for="desc">Description: </label>
          <textarea ng-model="np.desc" class="form-control" type="text" name="desc" id="desc" ></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success">
        </div>

      </form>
    </div>
  </div>

  <div>
    <div class="container">

<!-- display all posts -->

      <div ng-init="np.reverse = true" ng-repeat="post in np.posts | orderBy:np.prop:np.reverse" class="well clearfix post">
        <img ng-src="{{post.img}}" class="pull-left">
        <h3>{{post.title}} | <i ng-click="post.score = post.score + 1" class="glyphicon glyphicon-arrow-up"></i> <i ng-click="post.score = post.score -1" class="glyphicon glyphicon-arrow-down"></i> <span ng-class="{'text-success': post.score > 0, 'text-danger': post.score < 0}">{{post.score}}</span> </h3>
        <h4>by {{post.author}}</h4>
        <p>{{post.desc}}</p>
        <div class="post-controls">
          <span class="post-control">
            <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i> Sunday, March 8, 2006
          </span>
           |
          <span class="post-control">
            <a href="#" ng-init="post.showComments = false" ng-click="post.showComments = !post.showComments">
              <i class="glyphicon glyphicon-comment"></i> {{post.comments.length}}
              <span ng-show="post.comments.length!=1">comments</span>
              <span ng-show="post.comments.length==1">comment</span>
            </a>
          </span>
           |
           <span class="post-control">
             <a href="#" ng-init="post.addComment = false" ng-click="post.addComment = !post.addComment"><i class="glyphicon glyphicon-pencil"></i> Add Comment</a>
           </span>
        </div>

<!-- new comment -->
        <div ng-show="post.addComment" class="newComment">
          <form ng-submit="np.newComment(post)" class="form-inline">
            <div class="form-group">
              <label for="commentAuthor">Author: </label>
              <input type="text" ng-model="np.commentAuthor" name="commentAuthor" id="commentAuthor" placeholder="username" class="form-control">

              <label for="comment">Text: </label>
              <input type="text" ng-model="np.commentText" name="comment" placeholder="comment text" class="form-control">

              <input type="submit" value="Add Comment" class="btn btn-success">
            </div>

          </form>
        </div>

<!-- Show Comments -->
        <div ng-show="post.showComments" class="comments">
          <p ng-repeat="c in post.comments"><strong>{{c.author}}</strong> - {{c.comment}}</p>
        </div>

      </div>

    </div>
  </div>

</body>

</html>
